:root{
  --alive:#8effa0;
  --dead:#f76060;
  --ontarget:#fbe776;
  --saved:#7eb2ff;
  --bomb:#878585;
  --gambled:#fea2f0;
  --jailed:#f4946b;
}
body.dark {
  background:#111;
  color:#eee;
}
.card.dark { background:#1b1b1b; color:#eee; }
.table-darkmode thead { background:#222; color:#eee; }
td, th { vertical-align: middle; }
.role-desc { font-size: .95rem; color: #555; }
.small-badge { width:12px; height:12px; display:inline-block; border-radius:2px; margin-right:6px; }
